## Descriptive Data Analysis

In [1]:
import sys
sys.path.append('../')
import pandas as pd
from src.data_quality_checks import get_total_missing_percentage, check_missing_data

In [2]:
# Loading historical data
file_path = "../data/MachineLearningRating_v3.txt"

df = pd.read_csv(file_path, sep='|', low_memory=False)

df.head(5)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [3]:
# Total number rows in the dataset
len(df)

1000098

In [4]:
# compute date range in the dataset
df['TransactionMonth'] = pd.to_datetime(df['TransactionMonth'])

min_date = df['TransactionMonth'].min()
max_date = df['TransactionMonth'].max()

print('Date Range:')
print('Min Date:', min_date)
print('Max Date:', max_date)

Date Range:
Min Date: 2013-10-01 00:00:00
Max Date: 2015-08-01 00:00:00

In [5]:
# checking data types
df.dtypes

UnderwrittenCoverID                  int64
PolicyID                             int64
TransactionMonth            datetime64[ns]
IsVATRegistered                       bool
Citizenship                         object
LegalType                           object
Title                               object
Language                            object
Bank                                object
AccountType                         object
MaritalStatus                       object
Gender                              object
Country                             object
Province                            object
PostalCode                           int64
MainCrestaZone                      object
SubCrestaZone                       object
ItemType                            object
mmcode                             float64
VehicleType                         object
RegistrationYear                     int64
make                                object
Model                               object
Cylinders                          float64
cubiccapacity                      float64
kilowatts                          float64
bodytype                            object
NumberOfDoors                      float64
VehicleIntroDate                    object
CustomValueEstimate                float64
AlarmImmobiliser                    object
TrackingDevice                      object
CapitalOutstanding                  object
NewVehicle                          object
WrittenOff                          object
Rebuilt                             object
Converted                           object
CrossBorder                         object
NumberOfVehiclesInFleet            float64
SumInsured                         float64
TermFrequency                       object
CalculatedPremiumPerTerm           float64
ExcessSelected                      object
CoverCategory                       object
CoverType                           object
CoverGroup                          object
Section                             object
Product                             object
StatutoryClass                      object
StatutoryRiskType                   object
TotalPremium                       float64
TotalClaims                        float64
dtype: object

In [6]:
# checking for columns with missing values
missing_data = check_missing_data(df)
print(missing_data)

                Column Name  Missing Values  Percentage Missing
8                      Bank          145961           14.594670
9               AccountType           40232            4.022806
10            MaritalStatus            8259            0.825819
11                   Gender            9536            0.953507
18                   mmcode             552            0.055195
19              VehicleType             552            0.055195
21                     make             552            0.055195
22                    Model             552            0.055195
23                Cylinders             552            0.055195
24            cubiccapacity             552            0.055195
25                kilowatts             552            0.055195
26                 bodytype             552            0.055195
27            NumberOfDoors             552            0.055195
28         VehicleIntroDate             552            0.055195
29      CustomValueEstimate          779642           77.956560
32       CapitalOutstanding               2            0.000200
33               NewVehicle          153295           15.327998
34               WrittenOff          641901           64.183810
35                  Rebuilt          641901           64.183810
36                Converted          641901           64.183810
37              CrossBorder          999400           99.930207
38  NumberOfVehiclesInFleet         1000098          100.000000

In [7]:
# check total missing values percentage in the dataset
missing_values = get_total_missing_percentage(df)
print(missing_values)

9.74452195992485