## Descriptive Data Analysis

In [23]:
import sys
sys.path.append('../')
import pandas as pd
from tabulate import tabulate
from src.data_quality_checks import get_total_missing_percentage, check_missing_data
from src.descriptive_statistics import describe_numerical, summarize_categorical

In [12]:
# Loading historical data
file_path = "../data/MachineLearningRating_v3.txt"

df = pd.read_csv(file_path, sep='|', low_memory=False)

df.head(5)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [13]:
# Total number rows in the dataset
len(df)

1000098

In [14]:
# compute date range in the dataset
df['TransactionMonth'] = pd.to_datetime(df['TransactionMonth'])

min_date = df['TransactionMonth'].min()
max_date = df['TransactionMonth'].max()

print('Date Range:')
print('Min Date:', min_date)
print('Max Date:', max_date)

Date Range:
Min Date: 2013-10-01 00:00:00
Max Date: 2015-08-01 00:00:00

In [15]:
# checking data types
df.dtypes

UnderwrittenCoverID                  int64
PolicyID                             int64
TransactionMonth            datetime64[ns]
IsVATRegistered                       bool
Citizenship                         object
LegalType                           object
Title                               object
Language                            object
Bank                                object
AccountType                         object
MaritalStatus                       object
Gender                              object
Country                             object
Province                            object
PostalCode                           int64
MainCrestaZone                      object
SubCrestaZone                       object
ItemType                            object
mmcode                             float64
VehicleType                         object
RegistrationYear                     int64
make                                object
Model                               object
Cylinders                          float64
cubiccapacity                      float64
kilowatts                          float64
bodytype                            object
NumberOfDoors                      float64
VehicleIntroDate                    object
CustomValueEstimate                float64
AlarmImmobiliser                    object
TrackingDevice                      object
CapitalOutstanding                  object
NewVehicle                          object
WrittenOff                          object
Rebuilt                             object
Converted                           object
CrossBorder                         object
NumberOfVehiclesInFleet            float64
SumInsured                         float64
TermFrequency                       object
CalculatedPremiumPerTerm           float64
ExcessSelected                      object
CoverCategory                       object
CoverType                           object
CoverGroup                          object
Section                             object
Product                             object
StatutoryClass                      object
StatutoryRiskType                   object
TotalPremium                       float64
TotalClaims                        float64
dtype: object

In [16]:
# checking for columns with missing values
missing_data = check_missing_data(df)
print(missing_data)

                Column Name  Missing Values  Percentage Missing
8                      Bank          145961           14.594670
9               AccountType           40232            4.022806
10            MaritalStatus            8259            0.825819
11                   Gender            9536            0.953507
18                   mmcode             552            0.055195
19              VehicleType             552            0.055195
21                     make             552            0.055195
22                    Model             552            0.055195
23                Cylinders             552            0.055195
24            cubiccapacity             552            0.055195
25                kilowatts             552            0.055195
26                 bodytype             552            0.055195
27            NumberOfDoors             552            0.055195
28         VehicleIntroDate             552            0.055195
29      CustomValueEstimate          779642           77.956560
32       CapitalOutstanding               2            0.000200
33               NewVehicle          153295           15.327998
34               WrittenOff          641901           64.183810
35                  Rebuilt          641901           64.183810
36                Converted          641901           64.183810
37              CrossBorder          999400           99.930207
38  NumberOfVehiclesInFleet         1000098          100.000000

In [17]:
# check total missing values percentage in the dataset
missing_values = get_total_missing_percentage(df)
print(missing_values)

9.74452195992485

In [18]:
# descriptive analysis for numerical datasets
numerical_desc_analysis = describe_numerical(df)
print(numerical_desc_analysis)

       UnderwrittenCoverID      PolicyID    PostalCode        mmcode  \
count         1.000098e+06  1.000098e+06  1.000098e+06  9.995460e+05
mean          1.048175e+05  7.956682e+03  3.020601e+03  5.487770e+07
std           6.329371e+04  5.290039e+03  2.649854e+03  1.360381e+07
min           1.000000e+00  1.400000e+01  1.000000e+00  4.041200e+06
25%           5.514300e+04  4.500000e+03  8.270000e+02  6.005692e+07
50%           9.408300e+04  7.071000e+03  2.000000e+03  6.005842e+07
75%           1.391900e+05  1.107700e+04  4.180000e+03  6.005842e+07
max           3.011750e+05  2.324600e+04  9.870000e+03  6.506535e+07

       RegistrationYear      Cylinders  cubiccapacity      kilowatts  \
count      1.000098e+06  999546.000000  999546.000000  999546.000000
mean       2.010225e+03       4.046642    2466.743258      97.207919
std        3.261391e+00       0.294020     442.800640      19.393256
min        1.987000e+03       0.000000       0.000000       0.000000
25%        2.008000e+03       4.000000    2237.000000      75.000000
50%        2.011000e+03       4.000000    2694.000000     111.000000
75%        2.013000e+03       4.000000    2694.000000     111.000000
max        2.015000e+03      10.000000   12880.000000     309.000000

       NumberOfDoors  CustomValueEstimate  NumberOfVehiclesInFleet  \
count  999546.000000         2.204560e+05                      0.0
mean        4.019250         2.255311e+05                      NaN
std         0.468314         5.645157e+05                      NaN
min         0.000000         2.000000e+04                      NaN
25%         4.000000         1.350000e+05                      NaN
50%         4.000000         2.200000e+05                      NaN
75%         4.000000         2.800000e+05                      NaN
max         6.000000         2.655000e+07                      NaN

         SumInsured  CalculatedPremiumPerTerm  TotalPremium   TotalClaims
count  1.000098e+06              1.000098e+06  1.000098e+06  1.000098e+06
mean   6.041727e+05              1.178757e+02  6.190550e+01  6.486119e+01
std    1.508332e+06              3.997017e+02  2.302845e+02  2.384075e+03
min    1.000000e-02              0.000000e+00 -7.825768e+02 -1.200241e+04
25%    5.000000e+03              3.224800e+00  0.000000e+00  0.000000e+00
50%    7.500000e+03              8.436900e+00  2.178333e+00  0.000000e+00
75%    2.500000e+05              9.000000e+01  2.192982e+01  0.000000e+00
max    1.263620e+07              7.442217e+04  6.528260e+04  3.930921e+05

In [24]:
# summerization for categorical datasets
categorical_summary = summarize_categorical(df)

# Display summary using tabulate
for col, summary in categorical_summary.items():
    print(f"\n{col}:\n{tabulate(summary.reset_index(), headers='keys', tablefmt='psql')}")

Citizenship:
+----+---------------+---------+
|    | Citizenship   |   count |
|----+---------------+---------|
|  0 |               |  895210 |
|  1 | ZA            |  103721 |
|  2 | ZW            |     936 |
|  3 | AF            |     231 |
+----+---------------+---------+

LegalType:
+----+-------------------+---------+
|    | LegalType         |   count |
|----+-------------------+---------|
|  0 | Individual        |  911929 |
|  1 | Private company   |   83891 |
|  2 | Close Corporation |    2459 |
|  3 | Public company    |    1295 |
|  4 | Partnership       |     331 |
|  5 | Sole proprieter   |     193 |
+----+-------------------+---------+

Title:
+----+---------+---------+
|    | Title   |   count |
|----+---------+---------|
|  0 | Mr      |  933555 |
|  1 | Mrs     |   45850 |
|  2 | Ms      |   13269 |
|  3 | Miss    |    6614 |
|  4 | Dr      |     810 |
+----+---------+---------+

Language:
+----+------------+---------+
|    | Language   |   count |
|----+------------+---------|
|  0 | English    | 1000098 |
+----+------------+---------+

Bank:
+----+------------------------+---------+
|    | Bank                   |   count |
|----+------------------------+---------|
|  0 | First National Bank    |  260811 |
|  1 | ABSA Bank              |  204954 |
|  2 | Standard Bank          |  181715 |
|  3 | Nedbank                |  132003 |
|  4 | Capitec Bank           |   58155 |
|  5 | RMB Private Bank       |   12576 |
|  6 | Ithala Bank            |    1730 |
|  7 | Investec Bank          |     732 |
|  8 | Old Mutual             |     688 |
|  9 | FirstRand Bank         |     638 |
| 10 | Mercantile Lisbon Bank |     135 |
+----+------------------------+---------+

AccountType:
+----+----------------------+---------+
|    | AccountType          |   count |
|----+----------------------+---------|
|  0 | Current account      |  597938 |
|  1 | Savings account      |  358207 |
|  2 | Transmission account |    3721 |
+----+----------------------+---------+

MaritalStatus:
+----+-----------------+---------+
|    | MaritalStatus   |   count |
|----+-----------------+---------|
|  0 | Not specified   |  986208 |
|  1 | Single          |    4254 |
|  2 | Married         |    1377 |
+----+-----------------+---------+

Gender:
+----+---------------+---------+
|    | Gender        |   count |
|----+---------------+---------|
|  0 | Not specified |  940990 |
|  1 | Male          |   42817 |
|  2 | Female        |    6755 |
+----+---------------+---------+

Country:
+----+--------------+---------+
|    | Country      |   count |
|----+--------------+---------|
|  0 | South Africa | 1000098 |
+----+--------------+---------+

Province:
+----+---------------+---------+
|    | Province      |   count |
|----+---------------+---------|
|  0 | Gauteng       |  393865 |
|  1 | Western Cape  |  170796 |
|  2 | KwaZulu-Natal |  169781 |
|  3 | North West    |  143287 |
|  4 | Mpumalanga    |   52718 |
|  5 | Eastern Cape  |   30336 |
|  6 | Limpopo       |   24836 |
|  7 | Free State    |    8099 |
|  8 | Northern Cape |    6380 |
+----+---------------+---------+

MainCrestaZone:
+----+---------------------------------------------+---------+
|    | MainCrestaZone                              |   count |
|----+---------------------------------------------+---------|
|  0 | Transvaal (all except Pretoria)             |  296187 |
|  1 | Johannesburg                                |  176020 |
|  2 | Transvaal (Pretoria)                        |  100331 |
|  3 | Cape Province (Cape Town)                   |   95936 |
|  4 | Natal                                       |   88266 |
|  5 | Natal (Durban)                              |   82859 |
|  6 | Karoo 1 (Northeast of Cape Town)            |   52732 |
|  7 | Rand East                                   |   42168 |
|  8 | Tembu 2, Cape Mid 2, Cape Mid West, Tembu 1 |   20191 |
|  9 | Cape Province (East and North of Cape Town) |   19391 |
| 10 | Oranje Free State                           |    8149 |
| 11 | Cape Province                               |    6701 |
| 12 | East London                                 |    3961 |
| 13 | Langkloof, Coast 2, Coast 1                 |    3009 |
| 14 | Ciskei, Cape Mid 1                          |    2415 |
| 15 | Port Elizabeth                              |    1782 |
+----+---------------------------------------------+---------+

SubCrestaZone:
+----+----------------------+---------+
|    | SubCrestaZone        |   count |
|----+----------------------+---------|
|  0 | Johannesburg         |  176020 |
|  1 | Pretoria             |  100331 |
|  2 | Cape Town            |   95936 |
|  3 | Durban               |   82859 |
|  4 | Transvaal North      |   75141 |
|  5 | Transvaal North West |   72558 |
|  6 | Northeast of CT      |   51386 |
|  7 | Transvaal East       |   45729 |
|  8 | Transvaal South      |   45571 |
|  9 | Rand East            |   42168 |
| 10 | North Coast          |   30154 |
| 11 | Rand West            |   22478 |
| 12 | East and North of    |   19391 |
| 13 | Bushveld             |   19253 |
| 14 | South Coast          |   17588 |
| 15 | Natal 3              |   16299 |
| 16 | Zululand             |    9810 |
| 17 | Tembu 1              |    9165 |
| 18 | Cape Mid West        |    7210 |
| 19 | Natal 2              |    6846 |
| 20 | Transvaal South East |    5980 |
| 21 | Transvaal Mid West   |    5105 |
| 22 | Natal 1              |    4842 |
| 23 | East London          |    3961 |
| 24 | Drakensberg          |    3768 |
| 25 | Bloemfontein         |    3594 |
| 26 | Tembu 2              |    3413 |
| 27 | Transvaal South West |    3363 |
| 28 | Kalahari             |    2736 |
| 29 | Coast 2              |    2192 |
| 30 | Vaalhartz            |    1926 |
| 31 | Ciskei               |    1811 |
| 32 | Pondo                |    1785 |
| 33 | Port Elizabeth       |    1782 |
| 34 | Namakwa              |    1682 |
| 35 | Karoo 1              |    1346 |
| 36 | Highveld             |    1009 |
| 37 | Natal Cape           |     942 |
| 38 | OFS North 1 and      |     787 |
| 39 | Cape Mid 1           |     604 |
| 40 | Langkloof            |     593 |
| 41 | Cape Mid 2           |     403 |
| 42 | Karoo 2              |     321 |
| 43 | Coast 1              |     224 |
| 44 | Herbert              |      36 |
+----+----------------------+---------+

ItemType:
+----+------------------+---------+
|    | ItemType         |   count |
|----+------------------+---------|
|  0 | Mobility - Motor | 1000098 |
+----+------------------+---------+

VehicleType:
+----+-------------------+---------+
|    | VehicleType       |   count |
|----+-------------------+---------|
|  0 | Passenger Vehicle |  933598 |
|  1 | Medium Commercial |   53985 |
|  2 | Heavy Commercial  |    7401 |
|  3 | Light Commercial  |    3897 |
|  4 | Bus               |     665 |
+----+-------------------+---------+

make:
+----+----------------+---------+
|    | make           |   count |
|----+----------------+---------|
|  0 | TOYOTA         |  813280 |
|  1 | MERCEDES-BENZ  |   41940 |
|  2 | CMC            |   21624 |
|  3 | VOLKSWAGEN     |   20929 |
|  4 | C.A.M          |   16171 |
|  5 | GOLDEN JOURNEY |   14462 |
|  6 | NISSAN/DATSUN  |   10997 |
|  7 | JINBEI         |   10374 |
|  8 | IVECO          |    8430 |
|  9 | AUDI           |    7407 |
| 10 | NISSAN         |    5462 |
| 11 | BMW            |    5317 |
| 12 | FOTON          |    3482 |
| 13 | MERCEDES-BENZ  |    3131 |
| 14 | HYUNDAI        |    2602 |
| 15 | B.A.W          |    2160 |
| 16 | HUMMER         |    1194 |
| 17 | TOYOTA         |    1166 |
| 18 | FIAT           |     984 |
| 19 | POLARSUN       |     934 |
| 20 | CHEVROLET      |     912 |
| 21 | SAIC           |     614 |
| 22 | CITROEN        |     561 |
| 23 | PEUGEOT        |     463 |
| 24 | FORD           |     427 |
| 25 | MAZDA          |     418 |
| 26 | SUZUKI         |     408 |
| 27 | TATA           |     381 |
| 28 | CHERY          |     361 |
| 29 | SCANIA         |     342 |
| 30 | LEXUS          |     336 |
| 31 | VOLVO          |     316 |
| 32 | MITSUBISHI     |     260 |
| 33 | KIA            |     244 |
| 34 | FORD           |     242 |
| 35 | HINO           |     242 |
| 36 | PROTON         |     198 |
| 37 | RENAULT        |     156 |
| 38 | OPEL           |     147 |
| 39 | HONDA          |     130 |
| 40 | JMC            |     120 |
| 41 | GEELY          |     108 |
| 42 | JINBEI         |      60 |
| 43 | MARCOPOLO      |      51 |
| 44 | MAHINDRA       |       2 |
| 45 | DAIHATSU       |       1 |
+----+----------------+---------+

Model:
+-----+-------------------------------------------+---------+
|     | Model                                     |   count |
|-----+-------------------------------------------+---------|
|   0 | QUANTUM 2.7 SESFIKILE 16s                 |  186087 |
|   1 | QUANTUM 2.7 SESFIKILE 15s                 |  167523 |
|   2 | QUANTUM 2.7 SESFIKILE 14s                 |  137242 |
|   3 | QUANTUM 2.5 D-4D SESFIKILE 16s            |   99444 |
|   4 | HiACE SUPER 16 F/Lift                     |   79525 |
|   5 | HiACE SIYAYA                              |   40960 |
|   6 | QUANTUM 2.5 D-4D 14 SEAT                  |   28773 |
|   7 | AMANDLA 2.2                               |   16821 |
|   8 | AVANZA 1.5 SX                             |   15828 |
|   9 | INYATHI                                   |   11265 |
|  10 | IBHUBEZI 2.2i                             |   11056 |
|  11 | SPRINTER 515 CDi HI-ROOF F/C P/V          |   10610 |
|  12 | QUANTUM 2.5 D-4D SESFIKILE 15s            |   10537 |
|  13 | HAISE 2.2i                                |   10374 |
|  14 | NV350 2.5 16 SEAT IMPENDULO               |   10345 |
|  15 | SPRINTER 416 CDI HI-ROOF F/C P/V          |    9337 |
|  16 | COROLLA 1.3 PROFESSIONAL                  |    7867 |
|  17 | 50 C15V 15 F/C P/V                        |    6446 |
|  18 | AVANZA 1.3 SX                             |    6170 |
|  19 | COROLLA 1.3 IMPACT                        |    4373 |
|  20 | CRAFTER 50 HR 80 F/C P/V                  |    4357 |
|  21 | QUANTUM 2.7 10 SEAT                       |    3631 |
|  22 | MAKOYA 2.4i 16S                           |    3406 |
|  23 | INYATHI 2.2i  HIGH ROOF                   |    3012 |
|  24 | SPRINTER 519 CDi DC F/C C/C               |    2829 |
|  25 | CRAFTER 50 2.0 TDi HR 80KW F/C P/V        |    2687 |
|  26 | COROLLA 1.6 PROFESSIONAL                  |    2674 |
|  27 | QUANTUM 2.7 14 SEAT                       |    2455 |
|  28 | SESBUYILE 2.7 16 SEAT                     |    2355 |
|  29 | TAZZ 130                                  |    2169 |
|  30 | SASUKA 2.7i (16 SEAT)                     |    2160 |
|  31 | VIEW 2.2 TAXI                             |    2051 |
|  32 | AVANZA  1.3 S                             |    1995 |
|  33 | CRAFTER 50 HR 120 F/C P/V                 |    1951 |
|  34 | NDLOVU 2.4i 16 Seats                      |    1864 |
|  35 | AVANZA 1.5 TX                             |    1826 |
|  36 | SESBUYILE 2.4i 16 SEAT                    |    1826 |
|  37 | 320i (E90)                                |    1690 |
|  38 | 320d A/T (E90)                            |    1486 |
|  39 | CRAFTER 50 2.0 BiTDi HR 120KW F/C P/V     |    1478 |
|  40 | H-1 GLS 2.4 CVVT WAGON                    |    1455 |
|  41 | INKUNZI 2.2 TAXI                          |    1431 |
|  42 | SPRINTER 308 CDI F/C C/C                  |    1400 |
|  43 | SPRINTER 519 CDi F/C P/V                  |    1400 |
|  44 | AVANZA 1.3 S                              |    1399 |
|  45 | A4 2.0 TDI S  MULTITRONIC                 |    1385 |
|  46 | ETIOS 1.5 Xs                              |    1341 |
|  47 | SPRINTER 518 CDI F/C P/V                  |    1314 |
|  48 | QUANTUM 2.5 D-4D 10 SEAT                  |    1282 |
|  49 | A4 1.8T S AVANT MULTITRONIC               |    1116 |
|  50 | CRAFTER 50 2.0 TDi HR 80KW XLWB F/C P/V   |    1104 |
|  51 | CRAFTER 50 HR120 XLWB F/C P/V             |    1093 |
|  52 | C200K CLASSIC A/T                         |    1022 |
|  53 | A4 1.8T ATTRACTION (B8)                   |    1005 |
|  54 | SPRINTER 518 CDI D/C F/C C/C              |     961 |
|  55 | INGWE 2.2                                 |     934 |
|  56 | SPRINTER 518 CDi XL HI-ROOF F/C P/V       |     922 |
|  57 | AVANZA 1.5 SX A/T                         |     918 |
|  58 | SPRINTER 515 CDi F/C P/V                  |     860 |
|  59 | SPRINTER 309 CDI F/C P/V                  |     823 |
|  60 | A4 1.8T AMBITION (B8)                     |     804 |
|  61 | CRAFTER 35 120 F/C P/V                    |     803 |
|  62 | A4 2.0 TDI S 105kW                        |     785 |
|  63 | CONDOR 2400i ESTATE                       |     771 |
|  64 | MICRA 1.5 TEKNA 5DR (D85)                 |     757 |
|  65 | VITO 115 CDI CREWBUS                      |     750 |
|  66 | MICROBUS 2.3 P/S                          |     727 |
|  67 | H3 V8 LUXURY A/T                          |     698 |
|  68 | CRAFTER 50 2.0 BiTDi HR120KW XLWB F/C P/V |     653 |
|  69 | SPRINTER 519 CDI F/C P/V                  |     628 |
|  70 | SESBUYILE 2.5 TDi 16 SEAT                 |     622 |
|  71 | GRAND LIVINA 1.6 ACENTA                   |     616 |
|  72 | A4 1.8T S AVANT                           |     615 |
|  73 | MAXUS 2.5TD 16 SEAT                       |     614 |
|  74 | SPRINTER 519 CDI F/C C/C                  |     612 |
|  75 | ALMERA 1.6 COMFORT (H14/25)               |     612 |
|  76 | A4 2.0 TDI SE MULTITRONIC                 |     605 |
|  77 | SPRINTER 416 CDI F/C C/C                  |     580 |
|  78 | 316i A/T (F30)                            |     564 |
|  79 | A4 1.8T AMBITION MULTITRONIC (B8)         |     552 |
|  80 | E 200 CGI BE                              |     540 |
|  81 | RELAY 2.2 L2H1 15 SEAT                    |     521 |
|  82 | SPRINTER 515 CDI XL F/C P/V               |     502 |
|  83 | C200 BE CLASSIC                           |     500 |
|  84 | SHARAN 1.8T                               |     499 |
|  85 | CONDOR 2000i ESTATE                       |     498 |
|  86 | H3 ADVENTURE A/T                          |     496 |
|  87 | SPRINTER 315 CDI F/C D/C                  |     484 |
|  88 | TAZZ 130 SPORT                            |     458 |
|  89 | HiACE 2200 F/C P/V                        |     453 |
|  90 | C180 CGI BE CLASSIC A/T                   |     452 |
|  91 | POLO 1.4 TRENDLINE 5DR                    |     438 |
|  92 | TIIDA 1.6 ACENTA (H33)                    |     433 |
|  93 | ALMERA 1.6 LUXURY A/T (H16/27)            |     432 |
|  94 | C180K CLASSIC A/T                         |     415 |
|  95 | C180K BE AVANTGARDE                       |     404 |
|  96 | TIIDA 1.6 ACENTA 5Dr (H36)                |     402 |
|  97 | 1400 CHAMP (B01) P/U S/C                  |     401 |
|  98 | C180 BE COUPE                             |     392 |
|  99 | C220 CDi CLASSIC                          |     390 |
| 100 | 35S12V8 F/C P/V                           |     372 |
| 101 | SPRINTER 518 CDI F/C C/C                  |     365 |
| 102 | P-10 2.0TCI 15s                           |     361 |
| 103 | LIVINA 1.6 VISIA X-GEAR                   |     360 |
| 104 | 35 S13V 9M F/C P/V                        |     360 |
| 105 | CRAFTER 35 2.0 TDi 80KW F/C P/V           |     359 |
| 106 | SPRINTER 308 CDI F/C P/V                  |     354 |
| 107 | HiACE SUPER 10 F/Lift                     |     350 |
| 108 | LIVINA 1.6 ACENTA                         |     336 |
| 109 | IS 250 A/T                                |     336 |
| 110 | NV350 2.5i NARROW F/C P/V                 |     336 |
| 111 | ETIOS 1.5 Xs 5Dr                          |     332 |
| 112 | 320d (E90)                                |     329 |
| 113 | SONATA 2.0 GLS                            |     324 |
| 114 | F94 MARCO POLO BUS B/S B/S                |     324 |
| 115 | LT46 2.8TDi H/ROOF F/C P/V                |     322 |
| 116 | E 200 CGI BE ESTATE                       |     320 |
| 117 | 50 C13V 15M F/C P/V                       |     319 |
| 118 | C180K CLASSIC                             |     315 |
| 119 | C200 BE ESTATE CLASSIC                    |     314 |
| 120 | C200 CDi CLASSIC  A/T                     |     300 |
| 121 | ALMERA 1.5 ACENTA                         |     300 |
| 122 | 316i (F30)                                |     292 |
| 123 | BOXER L2H1 2.2 HDi M F/C P/V              |     292 |
| 124 | ETIOS 1.5 Xi 5Dr                          |     288 |
| 125 | COROLLA 140i                              |     282 |
| 126 | DUCATO MH2 C8 F/C P/V                     |     277 |
| 127 | AVEO 1.5 LS 5Dr A/T                       |     274 |
| 128 | ERTIGA 1.4 GA                             |     271 |
| 129 | SONIC 1.6 LS                              |     270 |
| 130 | COROLLA 1.3 ADVANCED                      |     267 |
| 131 | CARAVELLE 2.6i A/C P/S                    |     266 |
| 132 | 523i A/T (E60)                            |     265 |
| 133 | CRAFTER 35 80 F/C P/V                     |     264 |
| 134 | COROLLA 1.6 ADVANCED A/T                  |     264 |
| 135 | VERSO 160                                 |     263 |
| 136 | CONDOR 2400i 4X4 TX                       |     262 |
| 137 | C180 BE COUPE A/T                         |     252 |
| 138 | ALMERA 1.6 COMFORT (H01)                  |     250 |
| 139 | A4 2.0 TDI AMBITION 125KW (B8)            |     249 |
| 140 | C180 CGI BE CLASSIC                       |     249 |
| 141 | CONDOR 1800                               |     242 |
| 142 | 13-206 F/C C/C                            |     242 |
| 143 | TRANSIT 2.2 TDCi ELWB 114KW F/C C/C       |     242 |
| 144 | GOLF 2.0 FSI SPORTLINE                    |     240 |
| 145 | POLO 1.6 COMFORTLINE                      |     236 |
| 146 | CONDOR 3000D TE                           |     234 |
| 147 | TRANSPORTER T5 2.0 TDi LWB 103 KW F/C P/V |     234 |
| 148 | E 200K                                    |     227 |
| 149 | DUCATO 2.3 JTD HR F/C P/V                 |     225 |
| 150 | COROLLA QUEST 1.6                         |     224 |
| 151 | COROLLA 160i GLE                          |     222 |
| 152 | AVENSIS 2.0 ADVANCED                      |     216 |
| 153 | SPRINTER 413 CDI P/V C/C                  |     216 |
| 154 | 0305 M BAR B/S CCL                        |     216 |
| 155 | MICROBUS 2.6i P/S A/C                     |     212 |
| 156 | 50C15V15 F/C P/V                          |     211 |
| 157 | LP 713 S B/S B/S                          |     210 |
| 158 | PRIMASTAR 1.9 dCi 100 SWB                 |     209 |
| 159 | C200K ESTATE CLASSIC                      |     209 |
| 160 | VENTURE 2400D 6+4 New                     |     207 |
| 161 | T5 KOMBI 2.0 TDi LWB 103kw                |     206 |
| 162 | DUCATO 2.3 JTD F/C P/V                    |     205 |
| 163 | C200 CDi ESTATE CLASSIC  A/T              |     204 |
| 164 | COROLLA 1.6 ESTEEM                        |     200 |
| 165 | COROLLA 1.6 SPRINTER                      |     200 |
| 166 | YARIS ZEN3 ACS                            |     200 |
| 167 | SPRINTER 519 CDI XL F/C P/V               |     199 |
| 168 | LT35 2.8TDi S/ROOF F/C P/V                |     198 |
| 169 | VERSO 1.6 S                               |     196 |
| 170 | SPRINTER 319 CDi F/C P/V                  |     193 |
| 171 | SPRINTER 315 CDI F/C C/C                  |     192 |
| 172 | A5 SPRTBACK 2.0 TDI MULTI                 |     192 |
| 173 | C350 CDI ELEGANCE A/T                     |     192 |
| 174 | TIIDA 1.6 VISIA + (H31)                   |     192 |
| 175 | 320i A/T (E90)                            |     192 |
| 176 | COROLLA 1.4D PRESTIGE                     |     189 |
| 177 | TRAKKER AD410T42H F/C C/C                 |     182 |
| 178 | E 240                                     |     180 |
| 179 | T5 KOMBI 1.9 TDI LWB                      |     180 |